@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* This btn in headers application */
  .entryBtn {
    @apply w-[50%] p-1 rounded-lg text-center sm:p-2;
  }
  .registerBtn {
    @apply text-white bg-mainColor entryBtn
  }
  .linkInFooter {
    @apply w-full h-[20px] lg:h-[24px] text-center sm:text-left text-xs lg:text-base text-[#F4F4F4]
  }
}

@layer utilities {
  .triangle{
    width: 0;
    height: 0;
    border-top: 80px solid #f4f4f4;
    border-bottom: 80px solid transparent;
    border-left: 80px solid transparent;
  }
}